@using OnlineTicariOtomasyon.Models.Siniflar
@model List<FaturaKalem>
@{
    ViewBag.Title = "FaturaDetay";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Fatura Kalem</h2>
<br />

 

<table class="table table-hover">
    <tr>
        <td>Id</td>
        <td>Açıklama</td>
        <td>Miktar</td>
        <td>Birim Fiyat</td>
        <td>Tutar</td>

    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.FaturaKalemId</td>
            <td>@x.FaturaKalemId</td>
            <td>@x.Açıklama</td>
            <td>@x.BirimFiyat</td>
            <td>@x.Tutar</td>

        </tr>
    }
</table>
<a href="/Faturalar/YeniKalem/" class="btn btn-warning ">Yeni Kalem Girşi</a>


