@model OnlineTicariOtomasyon.Models.Siniflar.Personel
@{
    ViewBag.Title = "PersonelEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
@using (Html.BeginForm("PersonelEkle", "Personel", FormMethod.Post, new { enctype = "multipart/form-data" }))
{


    <form class="form-group" method="post">
        <br />
        @Html.LabelFor(X => X.Personelad)
        @Html.TextBoxFor(x => x.Personelad, new { @class = "form-control" })
        <br />
        @Html.LabelFor(X => X.PersonelSoyad)
        @Html.TextBoxFor(x => x.PersonelSoyad, new { @class = "form-control" })
        <br />
        @Html.LabelFor(X => X.PersonelGorsel)
        @*@Html.TextBoxFor(x => x.PersonelGorsel, new { @class = "form-control" })*@
        <input type="file" name="PersonelGorsel" />
        <br />
        @Html.LabelFor(x => x.Departman)
        @Html.DropDownListFor(x => x.Departmanid, (List<SelectListItem>)ViewBag.dgr1, new { @class = "form-control" })
        <br />


        <button class="btn btn-primary">KAYDET</button>


    </form>
}
